<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须为含有id中指示的方法的接口 -->
<mapper namespace="org.ytgs.portal.wechat.login.dao.LoginDao">
	<!-- 基本的映射 -->
	<resultMap type="LoginUser" id="LoginBaseMap">
		<id column="ID" property="id" />
		<result column="WECHAT_PUB_NUM" property="wechatPubNum" />
		<result column="WECHAT_NUM" property="wechatNum" />
		<result column="NICKNAME" property="nickName" />
		<result column="IMAGE" property="image" />
		<result column="IMAGE_PATH" property="imgPath" />
		<result column="USERSTATE" property="userState" />
		<result column="DISID" property="disId" />
		<result column="PARENTID" property="parentId" />
		<result column="PHONE" property="phone" />
		<result column="APP_WECHAT_NUM" property="appWechatNum" />
		<result column="REALNAME" property="realName" />
		<result column="DISCREATETIME" property="disCreateTime" />
		<result column="LEVEL" property="level" />
	</resultMap>
	
	<!-- 视图：v_wechat_login -->
	<sql id="Login_Column_List" >
    	ID,WECHAT_PUB_NUM,WECHAT_NUM,NICKNAME,IMAGE,IMAGE_PATH,USERSTATE,DISID,PARENTID,PHONE,APP_WECHAT_NUM,REALNAME,DISCREATETIME,LEVEL
  	</sql>
	
	<!-- 登录查询店铺信息 -->
	<select id="getLoginUserInfo" resultMap="LoginBaseMap">
		SELECT 
		<include refid="Login_Column_List" /> 
		FROM v_wechat_login
		where DISID = #{disId}
	</select>
</mapper>